### If updating this file, did you consider if the new ignored file(s) need to be added to the .npmignore? ###

### Node Modules ###
node_modules

### VSCode ###
.vscode

### Other ###
built
src/modules/images
src/images
test/resources/images/screenshot-test.jpg