### If updating this file, did you consider if the new ignored file(s) need to be added to the .gitignore? ###

### Node Modules ###
node_modules

### VSCode ###
.vscode

### Tests ###
test

### Other ###
.circleci
.github
.eslintrc.json
.prettierrc
src/modules/images
src/images
test/resources/images
*.tgz